In [1]:
import pandas as pd
import numpy as np
from numpy import random

# Midterm 2

## Question 1

### a

In [2]:
list1 = pd.Series([7, 11, 13, 17])
list1

0     7
1    11
2    13
3    17
dtype: int64

### b

In [3]:
list2 = pd.Series([100.0,100.0,100.0,100.0,100.0])
list2

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64

### c

In [4]:
num = random.randint(0,101,20)
list3 = pd.Series(num)
list3

0     38
1     56
2     78
3     90
4     71
5     85
6      9
7     78
8     83
9     22
10    72
11    95
12    13
13    71
14    39
15    56
16     2
17    58
18    83
19    61
dtype: int64

In [5]:
list3.describe()

count    20.000000
mean     58.000000
std      28.416081
min       2.000000
25%      38.750000
50%      66.000000
75%      79.250000
max      95.000000
dtype: float64

### d

In [6]:
grades = pd.Series([98.6, 77.9, 100, 83.4 ], index = ['Julie', 'Charlie', 'Sam', 'Anderae'])
grades

Julie       98.6
Charlie     77.9
Sam        100.0
Anderae     83.4
dtype: float64