In [2]:
import numpy as np
import pandas as pd
from numpy import random

## Exercise 1

In [3]:
temp = random.randint(59,101,5)

In [4]:
temp

array([84, 95, 95, 65, 59])

In [9]:
temperatures = pd.Series(temp, index = ['temp1', 'temp2', 'temp3', 'temp4', 'temp5'])
temperatures

temp1    84
temp2    95
temp3    95
temp4    65
temp5    59
dtype: int64

In [10]:
temperatures.min()

59

In [11]:
temperatures.max()

95

In [12]:
temperatures.mean()

79.6

In [13]:
temperatures.describe()

count     5.000000
mean     79.600000
std      16.816658
min      59.000000
25%      65.000000
50%      84.000000
75%      95.000000
max      95.000000
dtype: float64

## Exercise 2

In [29]:
temperatures = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82], 'Thu': [75, 97], 'Fri': [62, 79]}
temperatures = pd.DataFrame(temperatures, index = ['Low', 'High'])
temperatures.dtypes

Mon    int64
Tue    int64
Wed    int64
Thu    int64
Fri    int64
dtype: object

In [30]:
temperatures.loc['Low': 'High', ['Mon', 'Wed']]

      Mon  Wed
Low    68   66
High   89   82

In [34]:
temperatures.iloc[0,0:5]

Mon    68
Tue    71
Wed    66
Thu    75
Fri    62
Name: Low, dtype: int64

In [35]:
pd.set_option('display.precision', 2)

In [40]:
temperatures.loc['Low': 'High',['Mon']].mean()

Mon    78.5
dtype: float64

In [41]:
temperatures.loc['Low': 'High',['Tue']].mean()

Tue    82.0
dtype: float64

In [42]:
temperatures.loc['Low': 'High',['Wed']].mean()

Wed    74.0
dtype: float64

In [43]:
temperatures.loc['Low': 'High',['Thu']].mean()

Thu    86.0
dtype: float64

In [44]:
temperatures.loc['Low': 'High',['Fri']].mean()

Fri    70.5
dtype: float64

In [45]:
#average low temperature
avg_low = temperatures.iloc[0,0:5].mean()
avg_low

68.4

In [46]:
#average high temperature
avg_high = temperatures.iloc[1,0:5].mean()
avg_high

88.0

In [47]:
temperatures.to_csv('temperatures.csv')
temps = pd.read_csv('temperatures.csv')
temps

  Unnamed: 0  Mon  Tue  Wed  Thu  Fri
0        Low   68   71   66   75   62
1       High   89   93   82   97   79