In [2]:
import numpy as np
import pandas as pd
from numpy import random

In [6]:
temp = random.randint(59,101,5)

In [7]:
temp

array([72, 66, 96, 71, 62])

In [14]:
temperatures = pd.Series([random.randint(59,100,5)])
temperatures

0    [94, 67, 72, 91, 78]
dtype: object

In [17]:
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82], 'Thu': [75, 97], 'Fri': [62, 79]}
pd.DataFrame(temps)

   Mon  Tue  Wed  Thu  Fri
0   68   71   66   75   62
1   89   93   82   97   79